.random-quote-container{
	background: url('../images/skype_bubble.png') no-repeat center /cover;
	background-size: 90%;
	position: absolute;
	width: 41%;
	height: 30%;
	top:35%;
	left:25%;
	padding-left: 15px;
}

.user-image-container{
	position: absolute;
	width: 6%;
	top:44%;
	left:66%;
	padding-left: 15px;
}

.date-container{
	position: absolute;
	width: 41%;
	height: 25px;
	top:55%;
	left:25%;
}

.quote-date{
	position: absolute;
	height: 30%;
	top:35%;
	bottom: 35%;
	right: 6%;
	font-size: 1vw;
}

.user-image{
	width: 100%;
	height: auto;
}

.quote-text{
	position: absolute;
	height: 30%;
	top:35%;
	bottom: 35%;
	left:10%;
	font-size: 4vw;
}

.quote-user{
	font-size: 20px;
	padding-left: 80%;
}