/**
 * Apod image
 */
.apod-image-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	top:5%;
}

.apod-image{
	width: 100%;
	height: auto;
}

/**
 * Apod title
 */
.apod-title-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.apod-title{
	text-align: center;
	font-size: 4vw;
}

/**
 * Apod explanation
 */
.apod-explanation-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

/**
 * Apod date
 */
.apod-date-container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.apod-date{
	text-align: center;
	font-size: 2vw;
}

/**
 * Download
 */
.download-apod-pdf{
	position: absolute;
	width: 50px;
	height: 50px;
	bottom:5%;
	right:5%;
}